 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #4E93C3;
active-foreground: #E7E7DD;
normal-background: #000105;
normal-foreground: #E7E7DD;
urgent-background: #95ADAA;
urgent-foreground: #E7E7DD;

alternate-active-background: #4790C6;
alternate-active-foreground: #E7E7DD;
alternate-normal-background: #000105;
alternate-normal-foreground: #E7E7DD;
alternate-urgent-background: #000105;
alternate-urgent-foreground: #E7E7DD;

selected-active-background: #4E93C3;
selected-active-foreground: #000105;
selected-normal-background: #4E93C3;
selected-normal-foreground: #000105;
selected-urgent-background: #4790C6;
selected-urgent-foreground: #000105;

background-color: #000105;
background: rgba(0,0,0,0.7);
foreground: #E7E7DD;
border-color: #4E93C3;

color0: #000105;
color1: #244258;
color2: #34688E;
color3: #356C95;
color4: #3B6E93;
color5: #70827F;
color6: #8B8C76;
color7: #D4D4C6;
color8: #94948A;
color9: #305875;
color10: #458ABE;
color11: #4790C6;
color12: #4E93C3;
color13: #95ADAA;
color14: #B9BA9D;
color15: #D4D4C6;


}

